// Блок хлебных крошек
.breadcrumbs {
  @include flexRow($content-gap, center);
  @include color($color-breadcrumbs, $color-active);
  @include fontUpper(24px, 400, $color-active);
  margin-bottom: - $content-gap;
  min-height: 150px;
  text-align: center;
  cursor: default;

  .path {
    @include flex;

    & > :not(:last-child) {
      @include font(14px, 300, $color-6);

      &:after {
        padding: 0 4px;
        content: "/";
      }
    }

    & > :last-child {
      @include font(14px, 700);
    }
  }
}

// Mobile
@media (max-width: $size-xs), (max-width: $size-sm) and (orientation: landscape) {
  .breadcrumbs {
    @include flexColumn($content-gap, center);
  }
}