* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 40px;

  background: #f4f4f4;
  margin: 0;
  padding: 20px;

  min-height: 100vh;

  font-family: sans-serif;
  font-size: 14px;
}

.container, .feedback, .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.container {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .product {
    font-size: 20px;
    font-weight: bold;
    color: #444;
  }

  .message {
    font-size: 16px;
    color: #777;
  }

  .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 60px;
    height: 20px;
    background: #9f4f4f;
    color: #fff;
    font-size: 12px;
    box-shadow: inherit;
    border-radius: inherit;
    padding: 5px;
    cursor: pointer;

    &:before {
      content: "удалить";
    }
  }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, select, button, textarea {
  transition: background-color 0.3s ease;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
}

button {
  background-color: #2277cc;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #4499ee;
  }
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.hide {
  display: none;
}