<!DOCTYPE html>
<html lang="{header_lang}">
<head>
    <meta charset="UTF-8">
    <title>{header_title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="referrer" content="origin"/>
    <meta name="document-state" content="dynamic"/>
    <meta name="robots" content="noarchive"/>
    <meta name="description" content="{header_description}"/>
    <meta name="keywords" content="{header_keywords}"/>
    <link rel="canonical" href="{header_canonical}"/>
    <link type="text/css" rel="stylesheet" href="/style.css"/>
    <script type="text/javascript" src="/counter.js" defer></script>
</head>
<body>

<header>{main_header}</header>
<main>{main_content}</main>
<footer>{main_footer}</footer>

</body>
</html>