/* <!-- <editor-folder Base> --> */
/*** Selection ******************************/
::selection {
    background: #888;
}
/*** Placeholder ****************************/
::placeholder {
    color: #b9b9b9;
}
/*** Body ***********************************/
body {
    background: #fff;
    color: #888;
}
/*** Link ***********************************/
a {
    text-decoration: underline #f25822;
    color: #f25822;
}
/* <!-- </editor-folder--> */
/* <!-- <editor-folder Site> --> */
header, main {
    max-width: 1200px;
}
/*** Head ***********************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px !important;
    background: rgba(255, 255, 255, 0.02);
    color: inherit;
}
header .menu {
    font-size: 14px !important;
    line-height: 16px;
    letter-spacing: 0;
    color: #000;
}
header .menu > a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 0 20px;
    max-height: 40px;
}
header .menu > a[active] {
    color: #f25822;
}
/*** Content ********************************/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 160px) !important;
    font-size: 20px !important;
}
main .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 200px;
}
main .info > * {
    max-width: 610px;
    margin: 0 10px;
}
main .info .title {
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: 0;
    color: #000;
    margin: 0 0 20px;
}
main .info .desc {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0;
    color: #888;
    margin: 0 0 40px;
}
main .info .buttons {
    display: flex;
    margin: 10px -10px 0;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0;
}
main .info .buttons a {
    display: flex;
    justify-content: center;
    background: none;
    min-height: 50px;
    border-radius: 50px;
    margin: 0 10px;
    padding: 15px 30px;
    gap: 10px;
    color: #aaa;
    text-decoration: none;
}
main .info .buttons a[active] {
    color: #fff;
    background: #f25822;
}
main .partners {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}
main .partners img {
    max-height: 50px;
}
/*** Footer *********************************/
footer {
    height: 40px !important;
    border: none;
    font-size: 16px !important;
    color: #aaa;
}
/* <!-- </editor-folder--> */