@mixin title($fontSize: inherit, $letter: normal, $lineHeight: normal) {
  font-family: $dm;
  font-size: $fontSize;
  font-weight: 400;
  line-height: $lineHeight;
  letter-spacing: $letter;
  color: $baseColor;
}

@mixin text($fontSize: 22px, $color: #4d5053) {
  font-family: $jost;
  font-size: $fontSize;
  font-weight: 400;
  color: $color;
}